<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧑🏻</text></svg>">
	<title>Chaitanya</title>
	<style>
		body {
			font-family: Verdana, sans-serif;
			margin: auto;
			padding: 20px;
			max-width: 720px;
			text-align: left;
			background-color: #fff;
			word-wrap: break-word;
			overflow-wrap: break-word;
			line-height: 1.5;
			color: #444;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		strong,
		b {
			color: #222;
		}

		a {
			color: #3273dc;
			/*color: #ff5e6c;*/
		}

		.title {
			text-decoration: none;
			border: 0;
		}

		.title span {
			font-weight: 400;
		}

		.bear::before {
			content: "ᕦʕ •ᴥ•ʔᕤ";
			font-weight: 400;
		}
		.bear:hover::before {
			content: "ᕙʕ ಠᴥಠʔᕗ";
			font-weight: 400;
		}

		nav a {
			margin-right: 10px;
		}

		textarea {
			width: 100%;
			font-size: 16px;
		}

		input:not([type="submit"]) {
			font-size: 16px;
		}
		textarea,
		input:not([type="submit"]) {
			background-color: inherit;
			color: inherit;
			border: 1px dashed;
			padding: 3px;
		}

		content {
			line-height: 1.6;
		}

		table {
			width: 100%;
		}

		img {
			max-width: 100%;
		}

		code {
			padding: 2px 5px;
			background-color: #f2f2f2;
		}

		pre code {
			color: #222;
			display: block;
			padding: 20px;
			white-space: pre-wrap;
			font-size: 14px;
		}

		blockquote {
			border-left: 1px solid #999;
			color: #222;
			padding-left: 20px;
			font-style: italic;
		}

		footer {
			padding: 25px;
			text-align: center;
		}

		.helptext {
			color: #777;
			font-size: small;
		}

		.errorlist {
			color: #eba613;
			font-size: small;
		}

		#id_favicon {
			width: 20px;
			text-align: center;
		}

		#date-range,
		#initial-values {
			display: none;
		}

		#date-range:target,
		#initial-values:target {
			display: block;
		}

		/* dashboard post list and analytics */
		ul.post-list {
			list-style-type: none;
			padding: unset;
		}

		ul.post-list li {
			display: flex;
			padding: 10px 0;
			border-bottom: 1px dashed;
		}

		ul.post-list li span {
			flex: 0 0 130px;
		}

		ul.post-list li span.number {
			flex: 0 0 50px;
		}

		ul.post-list li a {
			flex: max-content;
		}

		ul.post-list li small {
			text-align: right;
			flex: 0 0 115px;
		}

		/* blog posts */
		ul.blog-posts {
			list-style-type: none;
			padding: unset;
		}

		ul.blog-posts li {
			display: flex;
		}

		ul.blog-posts li span {
			flex: 0 0 130px;
		}

		ul.blog-posts li a:visited {
			color: #8b6fcb;
		}

		/* discovery feed */
		ul.discover-posts {
			list-style-type: none;
			padding: unset;
		}

		ul.discover-posts li {
			display: flex;
			line-height: 1.2;
		}

		ul.discover-posts li span {
			flex: 0 0 40px;
		}

		ul.discover-posts li a:visited {
			color: #8b6fcb;
		}

		ul.discover-posts li div {
			padding-bottom: 8px;
		}

		ul.discover-posts li small {
			color: #777 !important;
		}

		ul.discover-posts li small a {
			color: #777 !important;
		}
		@media (prefers-color-scheme: dark) {
			body {
				background-color:#01242e;
				color: #ddd;
			}

			h1,
			h2,
			h3,
			h4,
			h5,
			h6,
			strong,
			b {
				color: #eee;
			}

			a {
				color: #8cc2dd;
			}

			code {
				background-color: #777;
			}

			pre code {
				color: #ddd;
			}

			blockquote {
				color: #ccc;
			}

			.helptext {
				color: #aaa;
			}
		}
	</style>
</head>
<body>
	<header>
		<a class="title" href="/">
			<h1>Chaitanya</h1>
		</a>
		<nav>
			<a href="/">Home</a>
			<a href="https://chaitanya.page/pod/">Podcast</a>
			<a href="https://chaitanya.bearblog.dev/">Blog</a>
			<a href="https://haiku.bearblog.dev/">Haiku</a>
			<a href="https://micro.bearblog.dev/">Microblog</a>
		</nav>
	</header>
	<main>
		<content>
			<div>
				{{ content }}
			</div>
		</content>
	</main>
	<footer><a href="mailto:hello@chaitanya.page">hello@chaitanya.page</a></footer>
</body>
</html>
